/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
	font-family: 'Bangers', cursive;
	margin: 20px;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 2em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	margin: 10px;
}

.row {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.col {
	background: #e0e0e0;
	padding: 10px;
	border: 1px grey dashed;
}

.image {
	height: 200px;
}