img {
    max-width: 300px;
  }
  
  .img1 {
    position: relative;
    z-index: 1;
  }
  
  .img2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  
  .img3 {
    position: fixed;
    left: 50%;
    top: 50%;
  }
  
  .img4 {
    position: absolute;
    bottom: 0%;
    right: 0%;
  }
  