h1, p, h2, div {
    background: grey;
    margin: 0;
    font-weight: 400;
}

#centered {
    text-align: center;
}

.title {
    font-size: 3rem;
}

li {
    list-style-type: none;
}
h2{
    font-size: 1em;
}
#content {
    text-decoration: underline;
    background: grey;
}

.monospaced {
    font-family: monospace;
}

.centered{
    text-align: center;
}
